{% url 'presentation' as presentation %}
{% url 'product-list' as product_list %}
{% url 'promotion-list' as promotion_list %}
{% url 'offer-list' as offer_list %}
{% url 'profile' as profile %}
{% url 'sign-in' as sign_in %}
{% url 'sign-up' as sign_up %}
{% url 'offer-cart' as cart %}
{% url 'order-list' as order_list %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light text-bg-light border">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Online Store</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{ offer_list }}" class="nav-link {% if request.path == offer_list %} active {% endif %}">Offers</a>
        </li>
        {% if user.is_authenticated and perms.client.view_productmodel or perms.client.view_promotionmodel %}
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Manage</button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if perms.client.view_productmodel %}
                <li>
                  <a class="dropdown-item {% if request.path == product_list %} active {% endif %}" href="{{ product_list }}">Products</a>
                </li>
              {% endif %}
              {% if perms.client.view_promotionmodel %}
                <li>
                  <a class="dropdown-item {% if request.path == promotion_list %} active {% endif %}" href="{{ promotion_list }}">Promotions</a>
                </li>
              {% endif %}
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown mx-lg-3">
          <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Currency</button>
          <ul id="currency-dropdown" class="dropdown-menu"></ul>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a href="{{ cart }}" class="nav-link {% if request.path == cart %} active {% endif %}">
              Cart
              <span id="cart-items-count" class="badge text-bg-danger"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Account</button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item {% if request.path == profile %} active {% endif %}" href="{{ profile }}">Profile</a>
              </li>
              <li>
                <a class="dropdown-item {% if request.path == order_list %} active {% endif %}" href="{{ order_list }}">Orders</a>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{{ sign_in }}" class="nav-link {% if request.path == sign_in %} active {% endif %}">Sign in</a>
          </li>
          <li class="nav-item">
            <a href="{{ sign_up }}" class="nav-link {% if request.path == sign_up %} active {% endif %}">Sign up</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
