{% extends 'pages/base.html' %}
{% load tags %}
{% load static %}

{% block scripts %}
  <script>
    const csrfToken = '{{ csrf_token }}'
    const productListUrl = "{% url 'product-list' %}"
    const productAddUrl = "{% url 'product-add' %}"
    const productEditUrl = "{% url 'product-edit' 'uuid' %}"
    const productDeleteUrl = "{% url 'product-delete' 'uuid' %}"
  </script>
  <link rel="stylesheet" href="{% static 'css/product.css' %}" />
  <script src="{% static 'js/product.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container background">
    <div class="title mb-3">
      <h1>Products</h1>
      <a class="btn btn-primary" href="{% url 'product-add' %}">Add</a>
    </div>
    <form class="filter-form" id="filter-form" name="filter-form" onsubmit="event.preventDefault(); filterProducts();">
      <div class="filter-form-fields">
        <div>
          <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
          {% if form.name.errors %}
            {{ form.name|add_class:'form-control
        is-invalid' }}
            <div class="invalid-feedback">{{ form.name.errors }}</div>
          {% else %}
            {{ form.name|add_class:'form-control' }}
          {% endif %}
        </div>
        <div class="filter-categories">
          <label for="{{ form.categories.id_for_label }}" class="form-label">{{ form.categories.label }}</label>
          {% if form.categories.errors %}
            {{ form.categories|add_class:'is-invalid' }}
            <div class="invalid-feedback">{{ form.name.errors }}</div>
          {% else %}
            {{ form.categories|add_class:'form-select' }}
          {% endif %}
        </div>
      </div>
      <div class="filter-form-actions">
        <button type="submit" class="btn btn-primary">Filter</button>
        <button class="btn btn-outline-primary" onclick="clearFilters();">Clear</button>
      </div>
    </form>
    <div id="products-list"></div>
  </div>
{% endblock %}
