{% extends 'pages/base.html' %}
{% load tags %}
{% load static %}

{% block scripts %}
  <script>
    const csrfToken = '{{ csrf_token }}'
    const offerListUrl = "{% url 'offer-list' %}"
  </script>
  <link rel="stylesheet" href="{% static 'css/offer.css' %}" />
  <script src="{% static 'js/offer.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container background">
    <div class="d-lg-flex justify-content-lg-between align-items-center mb-3 row">
      <div class="col-md-8">
        <h1>{{ offer.product.name }}</h1>
        <h6 class="text-muted text-break">{{ offer.product.description }}</h6>
      </div>
      <div class="card mt-3 col-md-4">
        <div class="card-body">
          {% if offer.discount != 0 %}
            <h5 class="text-muted text-decoration-line-through">{{ offer|get_price_display }}</h5>
          {% endif %}
          <h4 class="card-title text-danger">{{ offer|get_price_discounted_display }}</h4>
          <button class="btn w-100 btn-primary" href="{% url 'offer-list' %}">
            Purchase
            <i class="bi bi-cart"></i>
          </button>
        </div>
      </div>
    </div>
    {{ offer.product.details|safe }}
  </div>
{% endblock %}
