{% extends 'pages/base.html' %}
{% load tags %}
{% load static %}

{% block scripts %}
  <script>
    const csrfToken = '{{ csrf_token }}'
    const offerListUrl = "{% url 'offer-list' %}"
    const offerViewUrl = "{% url 'offer-view' 'uuid' %}"
  </script>
  <link rel="stylesheet" href="{% static 'css/offer.css' %}" />
  <script src="{% static 'js/offer.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container background">
    <div class="title mb-3">
      <h1>Offers</h1>
    </div>
    <form class="filter-form" id="filter-form" name="filter-form" onsubmit="event.preventDefault(); filterOffers();">
      <div class="filter-form-fields">
        <div class="filter-form-criteria">
          <div>
            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
            {{ form.name|add_class:'form-control' }}
          </div>
          <div class="filter-category mr-auto">
            <label for="{{ form.category.id_for_label }}" class="form-label">{{ form.category.label }}</label>
            {{ form.category|add_class:'form-select' }}
          </div>
        </div>
        <div class="filter-form-actions">
          <button type="submit" class="btn btn-primary">Filter</button>
          <button class="btn btn-outline-primary" onclick="event.preventDefault(); clearFilters();">Clear</button>
        </div>
      </div>
      {% include 'components/pagination.html' with object_name='Offers' %}
    </form>
    <div id="offers-list" class="container"></div>
  </div>
{% endblock %}
