{% extends 'pages/base.html' %}
{% load tags %}
{% load static %}

{% block scripts %}
  <script>
    const signInUrl = "{% url 'sign-in' %}"
    const signUpUrl = "{% url 'sign-up' %}"
    const signOutUrl = "{% url 'sign-out' %}"
    const profileUrl = "{% url 'profile' %}"
    const changePasswordUrl = "{% url 'change-password' %}"
  </script>
  <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
  <script src="{% static 'js/auth.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container min-vh-100 col col-md-6 pt-5">
    <h1 class="mt-5">Change password</h1>
    <form class="card p-3" id="change-password-form" name="change-password-form" onsubmit="event.preventDefault(); changePassword();">
      {% csrf_token %} {{ form.media }}
      <div class="row align-items-start mb-3">
        <div class="col">
          <label for="{{ form.old_password.id_for_label }}" class="form-label">{{ form.old_password.label }}</label>
          {{ form.old_password|add_class:'form-control' }}
        </div>
      </div>
      <div class="row align-items-start mb-3">
        <div class="col">
          <label for="{{ form.new_password1.id_for_label }}" class="form-label">{{ form.new_password1.label }}</label>
          {{ form.new_password1|add_class:'form-control' }}
        </div>
      </div>
      <div class="row align-items-start mb-3">
        <div class="col">
          <label for="{{ form.new_password2.id_for_label }}" class="form-label">{{ form.new_password2.label }}</label>
          {{ form.new_password2|add_class:'form-control' }}
        </div>
      </div>
      <button id="submit-button" class="btn btn-primary">Change password</button>
    </form>
  </div>
{% endblock %}
