{% extends 'pages/base.html' %}
{% load tags %}
{% load static %}

{% block scripts %}
  <script>
    const signInUrl = "{% url 'sign-in' %}"
    const signUpUrl = "{% url 'sign-up' %}"
    const signOutUrl = "{% url 'sign-out' %}"
    const profileUrl = "{% url 'profile' %}"
    const changePasswordUrl = "{% url 'change-password' %}"
  </script>
  <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
  <script src="{% static 'js/auth.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container min-vh-100 col col-lg-8 pt-5">
    <h1 class="mt-5 mb-3">
      Profile
      {% if user.is_superuser or user.is_staff %}
        <a href="{% url 'admin:index' %}">
          <span class="badge text-bg-success mx-2">
            {% if user.is_superuser %}
              Superuser
            {% elif user.is_staff %}
              Staff
            {% endif %}
          </span>
        </a>
      {% endif %}
    </h1>

    <div class="card mb-3">
      <div class="card-header">
        <h4>Details</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Username: {{ request.session.username }}</li>
        <li class="list-group-item">Email: {{ request.session.email }}</li>
        <li class="list-group-item">
          Full name:{% if request.session.fullname %}
            {{ request.session.fullname }}
          {% else %}
            {{ '-' }}
          {% endif %}
        </li>
        <li class="list-group-item">
          Date of birth:{% if request.session.date_of_birth %}
            {{ request.session.date_of_birth }}
          {% else %}
            {{ '-' }}
          {% endif %}
        </li>
        <li class="list-group-item">
          Location:{% if request.session.location %}
            {{ request.session.location }}
          {% else %}
            {{ '-' }}
          {% endif %}
        </li>
        <li class="list-group-item">
          Address:{% if request.session.address %}
            {{ request.session.address }}
          {% else %}
            {{ '-' }}
          {% endif %}
        </li>
        <li class="list-group-item">
          Phone number:{% if request.session.phone_number %}
            {{ request.session.phone_number }}
          {% else %}
            {{ '-' }}
          {% endif %}
        </li>
      </ul>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Actions</h4>
      </div>
      <div class="card-body d-grid gap-3">
        <a class="btn btn-outline-primary w-100" href="{% url 'change-password' %}">Change password</a>
        <button class="btn btn-outline-danger w-100" onclick="signout()">Sign out</button>
      </div>
    </div>
  </div>
{% endblock %}
