{% extends 'pages/base.html' %}
{% load tags %}
{% load static %}

{% block scripts %}
  <script>
    const csrfToken = '{{ csrf_token }}'
    const promotionListUrl = "{% url 'promotion-list' %}"
    const promotionAddUrl = "{% url 'promotion-add' %}"
    const promotionDeleteUrl = "{% url 'promotion-delete' 'uuid' %}"
  </script>
  <link rel="stylesheet" href="{% static 'css/promotion.css' %}" />
  <script src="{% static 'js/promotion.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container background">
    <div class="title mb-3">
      <h1>Promotions</h1>
      <a class="btn btn-primary" href="{% url 'promotion-add' %}">Add</a>
    </div>
    <form class="filter-form" id="filter-form" name="filter-form" onsubmit="event.preventDefault(); filterPromotions();">
      <div class="filter-form-fields">
        <div class="filter-form-criteria">
          <div>
            <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>
            {{ form.name|add_class:'form-control' }}
          </div>
          <div class="filter-category">
            <label for="{{ form.category.id_for_label }}" class="form-label">{{ form.category.label }}</label>
            {{ form.category|add_class:'form-select' }}
          </div>
        </div>
        <div class="filter-form-actions">
          <button type="submit" class="btn btn-primary">Filter</button>
          <button class="btn btn-outline-primary" onclick="event.preventDefault(); clearFilters();">Clear</button>
        </div>
      </div>
      {% include 'components/pagination.html' with object_name='Promotions' %}
    </form>
    <div id="promotions-list"></div>
  </div>
{% endblock %}
